{% extends "WalletWise/layout.html" %}

{% block title %}Balances{% endblock %}

{% block body %}
<div class="container text-center">
    <h1>Balances</h1>
    <p>All of your Current Balances are listed here. You can delete old Balances, add new Balances and transfer funds between Balances here too.</p>
    <div class="row">
        <div class="col-md-3"></div>
        <h2 class="col-md-6">Your Balances as of September</h2>
        <div class="col-md-3"><button class="btn btn-neutral">Other Months</button></div>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for balance in budget.funds.all %}
            <tr>
                <th scope="row">{{balance.title}}</th>
                <td>{{balance.amount}} EUR</td>
                <td><button class="btn btn-danger">X</button></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th scope="row">Total</th>
            <td>{{budget.all_funds}} EUR</td>
            <td></td>
        </tfoot>
    </table>
</div>
    
{% endblock %}