{% extends "WalletWise/layout.html" %}

{% block title %}{{balance.title}}{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Balance: {{balance.title}}</h1>
        
        <h2>Your Balance as of {{budget.month}}/{{budget.year}}</h2>

        <div style="margin-top: 20px;">
            <a style="float: left;" class="btn btn-danger" href="{% url 'changeMonthBalance' date=budget.date %}" role="button">Back</a>
            <h2>{{balance.amount}} EUR</h2>
        </div>

        {% if balance.associatedFundsChanges.all|length > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                        <th scope="col">More</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fundsChange in balance.associatedFundsChanges.all %}
                    <tr>
                        <th scope="row">{{fundsChange.title}}</th>
                        {% if fundsChange.is_expense %}
                            <td style="color: red;">{{fundsChange.amount}} EUR</td>
                        {% else %}
                            <td style="color: green;">{{fundsChange.amount}} EUR</td>
                        {% endif %}
                        
                        <td>{{fundsChange.dateTime}}</td>

                        <td><a class="btn btn-success" href="{% url 'fundsChange' id=fundsChange.id  %}" role="button">More</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 class="my-5">No Incomes or Expenses made yet.</h1>
        {% endif %}
        <hr>
        <h2>More Options</h2>
        <div class="row m-5">
            <div class="col-md-3"></div>
            <div class="col-md-3"><a class="btn btn-warning" href="{% url 'editBalance' id=balance.id %}" role="button">Edit Name</a></div>
            <div class="col-md-3"><a class="btn btn-danger" href="#" role="button">Delete [TODO]</a></div>
        </div>
    </div>
{% endblock %}