{% extends "WalletWise/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    

    {% if dashboard.openned_before == False %}
        <h1>Dasboard Setup</h1>
        <h5>Welcome to your Personal Dashboard!</h5>
        <br>
        <h5>First, we go through the steps to setup your Dashboard together.</h5>
        <a href="{% url 'fundForm' %}">
            <button class="dashboard-setup-button btn btn-success">Setup my Dasboard!</button>
        </a>
    {% else %}
        <h1>Dashboard</h1>
    {% endif %}
</div>
    
{% endblock %}
