{% extends "WalletWise/layout.html" %}

{% block title %}{{fundsChange.title}}{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>{{fundsChange.title}}</h1>
        
        <h2>Date: {{fundsChange.dateTime}}</h2>

        <div style="margin-top: 20px;" class="row">
            <div class="col-md-4">
                <a class="btn btn-danger" href="{% url 'balance' id=balanceId  %}" role="button">To Correlating Balance</a>
            </div>
            <div class="col-md-4"><h2>Amount: {{fundsChange.amount}} EUR</h2></div>
            {% if fundsChange.is_expense %}
            <div class="col-md-4">
                <a class="btn btn-danger" href="{% url 'changeMonthIncome' date=fundsChange.destination.budget.date  %}" role="button">To all Expenses</a>
            </div>
            {% else %}
            <div class="col-md-4">
                <a class="btn btn-danger" href="{% url 'changeMonthIncome' date=fundsChange.destination.budget.date  %}" role="button">To all Incomes</a>
            </div>
            {% endif %}
        </div>
        <h3>Description: {{fundsChange.description}}</h3>

        <div>
            <hr>
            <h2>More Options</h2>
            <a class="btn btn-warning" href="{% url 'editFundsChange' id=fundsChange.id %}" role="button">Edit Funds Change</a>
        </div>
    </div>
{% endblock %}