{% extends "WalletWise/layout.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container">
    <h1>Account Settings</h1>
    <br>
    <form method="post" action="{% url 'settings' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="defaultFund">Default Destination</label>
            <select class="form-select form-control" id="defaultDestination" name="defaultDestination" aria-describedby="defaultDestinationHelp">
                <option selected>Select Default Destination</option>
                {% for balance in balances %}
                <option value={{balance.id}}>{{balance.title}}</option>
                {% endfor %}
            </select>
            <small id="defaultDestinationHelp" class="form-text text-muted">If the majority of your Incomes/Expenses go tghrough the same Bank Account, select it here to automatically use it in the future.</small>
        </div>
        <button type="submit" class="btn btn-success" name="action" value="submit">Submit</button>
    </form>
</div>
  
{% endblock %}