body {
    padding-top: 70px;
    font-family: 'Inconsolata', monospace;
}

.dashboard-setup-button {
    margin-top: 5px;
}

a.skip {
    text-decoration: none;
}

.button-div{
    display: inline-block;
}

.green{
    color: green;
}

.red{
    color: red;
}

.table tfoot th,
.table tfoot td {
    border-top-width: 2px; /* Adjust the thickness as needed */
    border-bottom-width: 2px; /* Adjust the thickness as needed */
    border-color: #000; /* Adjust the color as needed */
}