body {
    padding-top: 8rem; /* Adjust the padding value as needed */
    font-family: 'Inconsolata', monospace;
  }
  
  @media (max-width: 576px) {
    body {
      padding-top: 17rem; /* Adjust the padding value for small screens */
    }
  }
  
  @media (min-width: 577px) and (max-width: 991px) {
    body {
      padding-top: 14rem; /* Adjust the padding value for medium screens */
    }
  }

.dashboard-setup-button {
    margin-top: 5px;
}

a.skip {
    text-decoration: none;
}

.button-div{
    display: inline-block;
}

.green{
    color: green;
}

.red{
    color: red;
}

.table tfoot th,
.table tfoot td {
    border-top-width: 2px; /* Adjust the thickness as needed */
    border-bottom-width: 2px; /* Adjust the thickness as needed */
    border-color: #000; /* Adjust the color as needed */
}